<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sweater</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <div>
        <form th:action="@{/logout}" action="/logout" method="post">
            <input type="submit" value="Sign Out">
        </form>
    </div>
    <body>
        <div>
            <form method="post" th:action=@{/home} th:object="${message}">
                <input type="text" name="text" placeholder="Enter text" th:field="*{text}" />
                <input type="text" name="tag" placeholder="Enter tag" th:field="*{tag}" />
                <button type="submit">Add</button>
            </form>
        </div>

        <form method="post" action="filter" th:action="@{/filter}">
            <input type="text" name="filter" placeholder="Enter filter" />
            <button type="submit">Filter</button>
        </form>

        <div th:if="${messageList.empty}">
            <div th:text="'You have 0 messages'">You have 0 messages</div>
        </div>
        <div th:unless="${messageList.empty}">
            <div>Messages: </div>
            <ul th:each="mess : ${messageList}">
                <div>
                    <li th:text="'ID: ' + ${mess.id} + ' Text: ' + ${mess.text} + ' Tag: ' + ${mess.tag}"></li>
                </div>
                <strong th:text="${mess.author?.username}"></strong>
            </ul>
        </div>
    </body>
</html>
