<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="parts/common :: common_header(~{::title})">
        <title>Sweater - Login</title>
    </head>
    <body>
        <nav th:replace="parts/common :: common_navbar"></nav>

        <div class="container mt-5">
            <div th:if="${param.error}" class="mb-1">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="mb-1">
                You have been logged out.
            </div>
            <form th:replace="parts/forms :: formLogin(@{/login}, false)"></form>
        </div>

        <th:block th:replace="parts/common :: common_js"></th:block>
    </body>
</html>
