<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="parts/common :: common_header(~{::title})">
        <title>Sweater - Main</title>
    </head>
    <body>
        <div>
            <form th:action="@{/logout}" action="/logout" method="post">
                <input type="submit" value="Sign Out">
            </form>
            <span><a th:href="@{/user}">User list</a></span>
        </div>
        <div>
            <form method="post" th:action=@{/main} th:object="${message}" enctype="multipart/form-data">
                <input type="text" name="text" placeholder="Enter text" th:field="*{text}" />
                <input type="text" name="tag" placeholder="Enter tag" th:field="*{tag}" />
                <input type="file" name="file">
                <button type="submit">Add</button>
            </form>
        </div>

        <form method="get" action="/main" th:action="@{/main}">
            <input type="text" name="filter" th:value="${filter}" placeholder="Enter filter" />
            <button type="submit">Filter</button>
        </form>

        <div th:if="${messageList.empty}">
            <div th:text="'You have 0 messages'">You have 0 messages</div>
        </div>
        <div th:unless="${messageList.empty}">
            <div>Messages: </div>
            <ul th:each="mess : ${messageList}">
                <div>
                    <li th:text="'ID: ' + ${mess.id} + ' Text: ' + ${mess.text} + ' Tag: ' + ${mess.tag}"></li>
                </div>
                <strong th:text="${mess.author?.username}"></strong>
                <div th:if="${mess.filename}">
                    <img th:src="@{'/img/' + ${mess.filename}}">
                </div>
            </ul>
        </div>

        <th:block th:replace="parts/common :: common_js"></th:block>
    </body>
</html>
