<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="parts/common :: common_header(~{::title})">
        <title>Sweater - Registration</title>
    </head>
    <body>
        <nav th:replace="parts/common :: common_navbar"></nav>

        <div class="container mt-5">
            <div class="mb-1">Add new user</div>
            <p th:if="${activationMessage}" th:text="${activationMessage}" class="alert alert-dark" role="alert"></p>

            <form th:replace="parts/forms :: formLogin(@{/registration}, true)"></form>
        </div>

        <th:block th:replace="parts/common :: common_js"></th:block>
    </body>
</html>
