<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="parts/common :: common_header(~{::title})">
        <title>Sweater - User edit</title>
    </head>
    <body>
        <a th:href="@{/main}">To main</a>
        <p>User editor</p>
        <form th:action="@{/user}" method="post">
            <input type="text" th:value="${user.username}" name="username"/>
            <div th:each="role : ${roles}">
                <label th:text="${role.name()}"></label><input type="checkbox" th:name="${role.name()}" th:checked="${user.roles.contains(role)}"/>
            </div>
            <input type="hidden" th:value="${user.id}" name = "userId">
            <button type="submit">Save</button>
        </form>

        <th:block th:replace="parts/common :: common_js"></th:block>
    </body>
</html>
