<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="parts/common :: common_header(~{::title})">
        <title>Sweater - User list</title>
    </head>
    <body>
        <a th:href="@{/main}">To main</a>
        <table border="1">
            <caption>User list</caption>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td><span th:each="role : ${user.roles}" th:text="${role.name()} + ' '"></span></td>
                    <td><a th:href="@{'/user/' + ${user.id}}">edit</a></td>
                </tr>
            </tbody>
        </table>

        <th:block th:replace="parts/common :: common_js"></th:block>
    </body>
</html>
